*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #000000;
}

.container-grid{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(8,1fr);
    grid-template-areas:
    "img1 img2 img3 img4"
    "img1 img2 img3 img4"
    "img5 img6 img7 img8"
    "img5 img6 img7 img8"
    "img9 img10 img11 img12"
    "img9 img10 img11 img12"
    "img13 img img img"
    "img13 img img img"  
	;
    gap: 5px;
}

.img:hover{
    filter:grayscale(70%);
    cursor: pointer;
    transition: filter .5s;
}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.img-1{
    grid-area: img1;
}

.img-2{
    grid-area: img2;
}
.img-3{
    grid-area: img3;
}
.img-4{
    grid-area: img4;
}
.img-5{
    grid-area: img5;
}

.img-6{
    grid-area: img6;
}

.img-7{
    grid-area: img7;
}

.img-8{
    grid-area: img8;
}
.img-9{
    grid-area: img9;
}
.img-10{
    grid-area: img10;
}
.img-11{
    grid-area: img11;
}

.img-12{
    grid-area: img12;
}
.img-13{
    grid-area: img13;
}
.img-13{
    grid-area: img13;
}
.img-14{
    grid-area: img14;
}

.img-15{
    grid-area: img15;
}

.container-img{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: transform .4s ease-in;
}

.container-grid img:hover {
    transform: scale(.93);
}

.move{
    transform: translate(0);
}

.img-show{
    height: 80%;
    transform: scale(0);
    display: block;
    object-fit: cover;
    transition: transform .2s .4s;
}

.show{
    transform: scale(1);
}

.copy{
    position: fixed;
    color: #fff;
    bottom: 40px;
}

.bx.bx-x{
    position:absolute;
    color: #fff;
    top: 20px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
}

@media screen and (max-width:700px){
    .img-show{
        width: 90%;
    }
    .copy{
        bottom: 20px;
    }
    .bx.bx-x{
        top: 10px;
        font-size: 25px;
    }
}