*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #000000;
}

.container-grid{
    display: grid;
    height: 300vh;

    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(16,1fr);
    grid-template-areas:
    "img1 img2 img3 img4 img5 img6"
    "img1 img2 img3 img4 img5 img6"
    "img7 img8 img9 img10 img11 img12"
    "img7 img8 img9 img10 img11 img12"
	"img13 img14 img15 img16 img17 img18 "
    "img13 img14 img15 img16 img17 img18 "
	"img19 img20 img21 img22 img23 img24"
    "img19 img20 img21 img22 img23 img24"
	"img25 img26 img27 img28 img29 img30 "
    "img25 img26 img27 img28 img29 img30 "
	"img31 img32 img33 img34 img35 img36 "
	"img31 img32 img33 img34 img35 img36 "
    "img37 img38 img40 img41 img42 img43 "
    "img37 img38 img40 img41 img42 img43 "
	"img44 img45 img46 img47 img48 img49 "
    "img44 img45 img46 img47 img48 img49 "
	"img50 img51 img52 img47 img48 img49" 

;
    gap: 5px;
}

.img:hover{
    filter:grayscale(70%);
    cursor: pointer;
    transition: filter .5s;
}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.img-1{
    grid-area: img1;
}

.img-2{
    grid-area: img2;
}
.img-3{
    grid-area: img3;
}
.img-4{
    grid-area: img4;
}
.img-5{
    grid-area: img5;
}

.img-6{
    grid-area: img6;
}

.img-7{
    grid-area: img7;
}

.img-8{
    grid-area: img8;
}
.img-9{
    grid-area: img9;
}
.img-10{
    grid-area: img10;
}
.img-11{
    grid-area: img11;
}

.img-12{
    grid-area: img12;
}

.img-13{
    grid-area: img13;
}

.img-14{
    grid-area: img14;
}
.img-15{
    grid-area: img15;
}
.img-16{
    grid-area: img16;
}
.img-17{
    grid-area: img17;
}

.img-18{
    grid-area: img18;
}

.img-19{
    grid-area: img19;
}
.img-20{
    grid-area: img20;
}
.img-21{
    grid-area: img21;
}
.img-22{
    grid-area: img22;
}

.img-23{
    grid-area: img23;
}

.img-24{
    grid-area: img24;
}

.img-25{
    grid-area: img25;
}
.img-26{
    grid-area: img26;
}
.img-27{
    grid-area: img27;
}

.img-28{
    grid-area: img28;
}

.img-29{
    grid-area: img29;
}

.img-30{
    grid-area: img30;
}
.img-31{
    grid-area: img31;
}

.img-32{
    grid-area: img32;
}

.img-33{
    grid-area: img33;
}

.img-34{
    grid-area: img34;
}
.img-35{
    grid-area: img35;
}
.img-36{
    grid-area: img36;
}


.img-37{
    grid-area: img37;
}

.img-38{
    grid-area: img38;
}



.img-40{
    grid-area: img40;
}

.img-41{
    grid-area: img41;
}
.img-42{
    grid-area: img42;
}
.img-43{
    grid-area: img43;
}


.img-44{
    grid-area: img44;
}
.img-45{
    grid-area: img45;
}

.img-46{
    grid-area: img46;
}

.img-47{
    grid-area: img47;
}

.img-48{
    grid-area: img48;
}
.img-49{
    grid-area: img49;
}
.img-50{
    grid-area: img50;
}

.img-51{
    grid-area: img51;
}
.img-52{
    grid-area: img52;
}



.container-img{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: transform .4s ease-in;
}

.container-grid img:hover {
    transform: scale(.93);
}

.move{
    transform: translate(0);
}

.img-show{
    height: 80%;
    transform: scale(0);
    display: block;
    object-fit: cover;
    transition: transform .2s .4s;
}

.show{
    transform: scale(1);
}

.copy{
    position: fixed;
    color: #fff;
    bottom: 40px;
}

.bx.bx-x{
    position:absolute;
    color: #fff;
    top: 20px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
}

@media screen and (max-width:700px){
    .img-show{
        width: 90%;
    }
    .copy{
        bottom: 20px;
    }
    .bx.bx-x{
        top: 10px;
        font-size: 25px;
    }
}